<div class="container-fluid">
        <footer class="footer">

           <p style="align-items: center; font-family: 'Roboto', serif;">Created By Kaung Khant - &copy; Copyright 2017</p>

        </footer>

</div>